header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 100px;
  padding: 20px;
  /* position: fixed; */
}

header ul {
  display: flex;
  gap: 20px;
}

header ul a {
  color: #000;
}

header ul .selectColor {
  color: red;
  border-bottom: 1px solid red;
}

header img {
  width: 180px;
}
