<div class="footerAdrdres-1">
  <div class="addressPlace">
      <h4>Address 1</h4>
      <p>1839 Fairfild Road V8S<br> 1G9 Victoria, <br>British Columbia</p>
  </div>
  <div class="addressPhone">
      <h4>Phone</h4>
      <p>+1 315-942-4898</p>
  </div>
  <div class="addressSocial">
      <h4>Social</h4>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-google-plus-g"></i>
  </div>
</div>
<div class="footerAdrdres-2">
  <div class="addressPlace">
      <h4>Address 2</h4>
      <p>1839 Fairfild Road V8S<br> 1G9 Victoria, <br>British Columbia</p>
  </div>
  <div class="addressPhone">
      <h4>Phone</h4>
      <p>+1 315-942-4898</p>
  </div>
  <div class="addressSocial">
      <h4>Social</h4>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-google-plus-g"></i>
  </div>
</div>
<div class="footerForm">
  <h4>Contact us</h4>
  <form>
      <input type="email" placeholder="Email Address*" required>
      <input type="text" placeholder="Message*">
  </form>
  <button>Send Email</button>
</div>
