header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(6px) saturate(108%);
  -webkit-backdrop-filter: blur(6px) saturate(108%);
  background-color: rgba(243, 240, 238, 0.28);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 100px;
  padding: 20px;
}

.headerContent ul {
  display: flex;
  gap: 20px;
}

.headerContent ul a {
  color: #293C52;
  font-size: 20px;
  font-family: 'Itim', cursive;
  font-weight: 400;
  transition: 0.50s ease;
}

.headerContent ul a:hover {
  color: #1E2F45;
  border-bottom: 1px solid #1E2F45;
}

.headerContent img {
  width: 100px;
}
