<section class="firstBanner">
  <div class="bannerContent">
      <h1>Coffee</h1>
      <img src="./assets/img/imgHome-remove.png">
      <h1>Shop</h1>
  </div>
</section>

<section class="product">
  <div class="productTitle">
      <h2>Product os organic farming</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore recusandae tempore ipsum qui laboriosam accusantium? Inventore voluptates dolorem labore odio ut.</p>
  </div>
  <div class="product">

  </div>
</section>

<section class="secondBanner">
  <h2>In the busy world of beta testing<br> and bug reports, a little analog</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam qui iure rerum accusantium similique nulla, assumenda repudiandae magnam impedit sit, recusandae corporis nihil corrupti omnis ut non accusamus facere ex.</p>
</section>

<section class="menu">
  <div class="menutTitle">
      <h2>Product os organic farming</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore recusandae tempore ipsum qui laboriosam accusantium? Inventore voluptates dolorem labore odio ut.</p>
  </div>
  <div class="menuItens">
      <div class="coffees">
          <div class="coffeesItens">
              <div class="regularCoffees">
                  <h2>Coffee</h2>
                  <div class="itens">
                      <img src="" alt="">
                      <div class="description">
                          <h3>Daily Blend</h3>
                          <p>Regular coffee brewed<br> fresh all day long</p>
                      </div>
                      <div class="price">
                          <p>2.50$</p>
                      </div>
                  </div>
              </div>
              <div class="classicCoffees">
                  <h2>Espresso Classic</h2>
              <div class="itens">
                  <img src="" alt="">
                  <div class="description">
                      <h3>Espresso</h3>
                      <p>Double shot</p>
                  </div>
                  <div class="price">
                      <p>2.50$</p>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="gallery">
  <img src="">
  <img src="">
  <img src="">
  <img src="">
  <img src="">
  <img src="">
</section>

<section class="testimonials">
  <h2>Feel the vibe of our customers</h2>
  <div class="testimony">
      <div class="testimonyContent">
          <p>"value really gets all of our best work in one place for the entire company to see. it has us concentrate on the real work, and not on the plumbing."</p>
          <div class="testimonyPerson">
              <img src="">
              <div class="personInfo">
                  <p>Robert Caldini</p>
                  <span>Interface Designer</span>
              </div>
          </div>
      </div>
      <div class="testimonyContent">
          <p>"value really gets all of our best work in one place for the entire company to see. it has us concentrate on the real work, and not on the plumbing."</p>
          <div class="testimonyPerson">
              <img src="">
              <div class="personInfo">
                  <p>Adan Winberg</p>
                  <span>Developing Officer</span>
              </div>
          </div>
      </div>
      <div class="testimonyContent">
          <p>"value really gets all of our best work in one place for the entire company to see. it has us concentrate on the real work, and not on the plumbing."</p>
          <div class="testimonyPerson">
              <img src="">
              <div class="personInfo">
                  <p>Roy Steffen</p>
                  <span>Marketing Manager</span>
              </div>
          </div>
      </div>
  </div>
  <div class="testimonyDot">
      <span></span>
      <span></span>
      <span></span>
  </div>
</section>
